cadvisor:
  restart: always
  image: {{ docker_hub }}/{{ cadvisor_image }}
  ports:
    - {{ cadvisor_ext_port }}:8080
  volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:ro
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro
    - /dev/disk/:/dev/disk:ro
